@import "variables.scss";
@import "utils.scss";

main {
  padding: 1em;
  margin: 0 auto;
  padding: 0 15% 1.5em;
  text-align: center;
}

h1,
h2 {
  color: $blue;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}

h1 {
  font-size: 2.5em;
  margin: 1.5em 0 1em;
}

h2 {
  font-size: 1.8em;
  margin: .7em 0;
}

.intro {
  text-align: left;
  font-size: 1em;
  font-weight: 600;
}

.intro span {
  color: $lilac;
  color: $blue;
}

.intro p:nth-child(2) > span {
  color: $lilac;
}

button {
  border-radius: 6px;
  padding: .5em;
  margin:  .5em;
  outline: none;
  border:  none;
  min-width: 130px;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button::-moz-focus-inner {
  border: 0;
}

.wrapper > button {
  display: block;
  margin: 2em auto 0;
}

#quizProgress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: .6em;
}

#quizProgress,
#quizProgress::-webkit-progress-bar {
  background-color: transparent;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

#quizProgress::-moz-progress-bar,
#quizProgress::-webkit-progress-value {
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

#quizProgress::-moz-progress-bar {
  background-image: -moz-linear-gradient(135deg, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%,transparent 66%), -moz-linear-gradient(left, #00008b, #1e90ff );
}

#quizProgress::-webkit-progress-value {
  background-image: -webkit-linear-gradient(135deg, transparent 33%, rgba(0, 0, 0, 0.1)  33%, rgba(0, 0, 0, 0.1) 66%,transparent 66%), -webkit-linear-gradient(left, #00008b,  #1e90ff);
}

.percent {
  font-size: 1.3em;
  font-weight: 900;
  margin-top: -.5em;
}

.percent > span {
  color: $lilac;
  margin-right: 2px;
}

.share {
  text-align: left;
  margin: 0 0 -3em 4%;
}

.share:before {
  content: "\2764";
  color: $incorrect;
  margin-right: 6px;
}

footer {
  position: absolute;
  right: 2%;
  bottom: 2%;
  width: 100%;
  text-align: right;
  font-size: .85em;
}

footer > p {
  margin: .1em 0;
}

@media screen and (max-width: $large) {
  main {
    padding: 0 13% 1.5em;
  }
}

@media screen and (max-width: $medium) {
  main {
    padding: 0 7% 1.5em;
  }

  footer {
    font-size: .75em;
    position: static;
    width: 95%;
    padding-bottom: 1em;
  }

  footer .license:first-child {
    display: block;
  }
}

@media screen and (max-width: $small) {
  main {
    padding: 0 5% 1.5em;
  }

  h1,
  h2 {
    font-size: 1.5em;
  }

  .share {
    display: none;
  }
}

@media screen and (min-width: $xxlarge) {
  main {
    padding: 0 20% 2em;
  }

  h2 {
    margin: 2em 0 .7em;
  }
}
