@import "variables.scss";
@import "utils.scss";

.answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1em;
}

.answers > li {
  flex: 30% 1 0;
  margin: 1em .7em;
  padding: .4em;
  max-width: 240px;
  font-weight: 600;
}

.question {
  margin-top: 7em;
}

.correctAnswer {
  background-color: $correct;
    &:hover,
    &:active,
    &:focus {
      background-color: $correct;
    }
}

.incorrectAnswer {
  background-color: $incorrect;
    &:hover,
    &:active,
    &:focus {
    background-color: $incorrect;
  }
}

@media screen and (max-width: $small) {
  ul > li {
    flex: 100% 0 0;
    max-width: 50%;
  }
}
