@import "variables.scss";

.result {
  margin-top: 1.7em;
}

.result p > span:first-child {
  background-color: $cornflower;
  margin-right: 8px;
  font-weight: bold;
  padding: .4em;
}

.prompt {
  width: 50%;
  margin: 0 auto;
  font-size: .8em;
  font-weight: 600;
}

.prompt ul {
  margin: .4em 0;
}

.prompt li {
  line-height: 1.4;
}

.badge {
  margin: -.7em auto -.7em;
}

@media screen and (max-width: $small) {
  .badge img {
    max-width: 170px;
  }

  .prompt {
    width: 100%;
  }
}

@media screen and (max-width: $xsmall) {
  .result {
    margin-top: .7em;
  }
}
