.u-action {
  cursor: pointer;
  color: white;
  position: relative;
  overflow: hidden;
  background: $indigo;
    &:hover,
    &:active,
    &:focus {
      background: #2431b0;
    }
}

.u-action:before {
  content: "";
  position: absolute;
  left: -50px;
  top: -20px;
  width: 30px;
  height: 80px;
  background: linear-gradient(270deg,hsla(0,0%,100%,0), hsla(0,0%,100%,.5), hsla(0,0%,100%,0)); transform:rotate(-30deg);
}

.u-action:hover:before {
  left: 100%;
  top: -20px;
  transform: rotate(0deg);
  transition: all .5s;
}
