// Background colours for answers
$correct: #2e8b57;
$incorrect: #ff4500;

// Screen sizes for flexible design
$xsmall: 33.9em; // max-width 542px, xxSmall devices (portrait phones)
$small: 51em; // max-width 816px, small devices (landscape phones)
$medium: 64em; //  max-width 1024px, medium devices (tablets)
$large: 80em; // max-width 1280px, large devices (laptops, desktops)
$xlarge: 90em; // max-width 1440px, xLarge devices (desktops)
$xxlarge: 91em; // min-width 1456px, xxLarge devices

// Colours
$indigo: #3949ab;
$darkBlue: #00008b;
$blue: #1e90ff;
$cornflower: #3982ab;
$lilac: #8f7ff1;
