*,
*:after,
*:before {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

html {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  height: 100%;
}

html,
body {
  width: 100%;
}

body {
  color:  #fafafa;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Lato, Helvetica, Open Sans, Arial, sans-serif;
  font-size:  1.05rem;
  line-height:  1.3;
  text-rendering: optimizeLegibility;
  background: radial-gradient(1600px at 70% 120%, #212750 70%, #020409 100%);
}

*::-moz-selection {
  color: black;
  background: #e6e6fa;
}

*::selection {
  color: black;
  background: #e6e6fa;
}

p {
  margin:  1em 0;
}

a {
  color: #b0c4de;
  text-decoration: none;
  cursor:  pointer;
  letter-spacing: 2px;
  overflow: hidden;
  position: relative;
}

a:hover {
  color:  #fafafa;
}

a:visited {
  color: #b0c4de;
}

a:before {
  background: #fafafa none repeat scroll 0 0;
  bottom: -1px;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  transform: scaleX(0) translateZ(0px);
  transform-origin: 0 0 0;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  width: 100%;
}

a:hover:before {
  transform: scaleX(1) translateZ(0px);
}

label {
  display: block;
}

ul li {
  list-style-type: none;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 .5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

.no-js {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: hsla(0,0%,100%,.1);
  padding: .4em 1.3em;
  text-align: center;
  z-index: 3;
  font-size:  .85em;
  border: 1px solid #e6e6fa;
}

img {
  max-width: 100%;
}

.wrapper {
  padding: 1em 1.5em 1.5em;
  background: hsla(0,0%,100%,.1);
  border-radius: 4px;
  box-shadow: 0 0 24px rgba(0,0,0,.5);
}

@media screen and (max-width: 33.9em) {
  body {
    font-size: 90%;
  }
}

@media screen and (min-width: 1921px) {
  body {
    font-size:  1.7rem;
  }
}
